#contactus {
  .bg-pattern02 {
    background-image: url(../../assets/bg_ico02.png),
      url(../../assets/bg_pattern03.gif);
    background-repeat: repeat;
    padding-bottom: 50px;

    .contactus {
      max-width: var(--container-width-exlg);
      margin: 0 auto;
      .contactus-header {
        h5 {
          color: #8b7b5c;
          font-size: 3.3rem;
          font-family: "Lobster", cursive;
          text-align: center;
          padding: 40px 0;
          text-transform: uppercase;
        }
      }

      .contactus-form {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0 30px;
        margin-bottom: 40px;

        form {
          width: 500px;
          display: flex;
          flex-direction: column;
          gap: 1.2rem;

          input {
            height: 55px;
          }
          input,
          textarea {
            width: 100%;
            padding: 10px;
            padding-left: 20px;
            font-size: 1.1rem;
            border-radius: 10px;
            background: var(--color-gray-light);
            resize: none;
            color: var(--color-black);
          }

          button {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5;
            border: 1px solid var(--color-white);
            border-radius: 10px;
            padding: 20px 20px;
            letter-spacing: 0.8px;
            background-color: var(--color-red);
            color: var(--color-white);
            transition: var(--transition);
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
              background-color: var(--color-yellow);
            }
          }
        }

        .google-map {
          width: 500px;

          iframe {
            width: 100%;
            height: 465px;
          }
        }
      }
    }
    .contact-element {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      background-image: url(../../assets/bg_pattern01.gif);
      background-repeat: repeat;
      padding: 30px;

      .element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 150px;
        border: 1px solid var(--color-black);
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 2px 10px 1px rgba(201, 201, 201, 0.47);

        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          padding: 20px;
          border-radius: 50%;
          border: 1px solid var(--color-red);
          background-color: var(--color-red);
          transition: var(--transition);
          border: 3px solid var(--color-white);

          &:hover {
            background-color: var(--color-yellow);
          }

          .icon {
            color: var(--color-white);
            font-size: 25px;
          }
        }

        h1 {
          color: var(--color-black);
          font-weight: 700;
          font-family: "GenJyuuBold", "Noto Serif JP", serif;
          font-size: 1.2rem;
          margin: 5px 0;
          letter-spacing: 1px;
        }

        a {
          text-align: c;
          font-family: "GenJyuuBold", "Noto Serif JP", serif;
          font-size: 0.7rem;
          letter-spacing: 1px;
          color: var(--color-yellow);
          text-align: center;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 23px;
      text-align: center;
      color: var(--color-white);
    }
  }
}

/* ==================== MEDIA QUERY ==================*/

@media screen and (max-width: 850px) {
  #contactus {
    .bg-pattern02 {
      .contactus {
        .contactus-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .google-map {
            iframe {
              width: 100%;
              height: 400px;
            }
          }
        }
      }

      .contact-element {
        display: flex;
        flex-wrap: wrap;
        // margin: 0 auto;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  #contactus {
    .bg-pattern02 {
      .contactus {
        .contactus-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          form {
            width: 100%;
          }

          .google-map {
            width: 100%;
            iframe {
              height: 300px;
            }
          }
        }
      }

      .contact-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
