#homePage {
  background-image: url("../../../assets/bg_main.jpg");
  height: 600px;
  background-size: cover;
  .container {
    margin: 0 auto;
    padding: 0 60px;

    .main-logo {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 500px;
      }

      button {
        margin-top: 10px;
        padding: 10px 30px;
        border: 3px solid var(--color-white);
        border-radius: 10px;
        font-family: "GenJyuuBold", "Noto Serif JP", serif;
        color: var(--color-black);
        font-size: 1.4rem;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          color: var(--color-white);
          border-color: var(--color-black);
        }
      }
    }

    .customOverlay {
      background: rgba(36, 123, 160, 0.7);
    }
    .customModal {
      background: #b2dbbf;
      max-width: 500px;
      width: 100%;
    }
  }
}

/* ==================== MEDIA QUERY ==================*/

@media screen and (max-width: 580px) {
  #homePage {
    .container {
      .main-logo {
        img {
          width: 320px;
        }
      }
    }
  }
}
