@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@font-face {
  font-family: "GenJyuuBold";
  src: local("GenJyuuBold"),
    url("./fonts/Gen Jyuu Gothic Monospace Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --color-yellow: #ffb52b;
  --color-red: #ff0000;
  --color-white: #fff;
  --color-black: #1b1b1b;
  --color-black-light: #3d4349;
  --color-gray: #757575;
  --color-gray-light: #e5e5e5;

  --container-width-exlg: 1400px;
  --container-width-lg: 1000px;
  --container-width-sm: 850px;

  --transition: all 0.9s ease;
}

* {
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  // font-family: "GenJyuuBold", "Noto Serif JP", serif;
}

html {
  scroll-behavior: smooth;
}
